body {
    margin: 0;
    padding: 0; 
    background: gray;
}

#app {
    position: relative;
    width: 800px;
    height: 100%;
    margin: auto;
    text-align: center;
    background: white;
}

.item {
    display: inline-block;
}

.error {
    border: 2px solid red;
}

#table {
    position: relative;
    text-align: center;
    margin: auto;
}

.enr-word {
    font-weight: 700;
}
